@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }

  .bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-image: url("Assests/Images/TavernBG.jpg")
    
  }
.nav-link{
    color: rgb(215, 225, 74);
}
.dropdown-item {
    color: rgb(215, 225, 74);
}
